<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.akashskypatel.android_media_store">
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
  <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
  <uses-permission android:name="android.permission.MANAGE_MEDIA" />
  <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
  <!-- For Android 12 and below -->
  <uses-permission
      android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <!-- For devices running Android 9 (API 28) and lower -->
  <uses-permission
      android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
